@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Automated Migration in Entity Framework 6.4.4</h1>
    <p class="lead">Entity Framework introduced automated migration so that we don't have to process database migration manually for each change we make in our domain classes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Brief Description</h2>
        <p>
            This app performs crud operation for student's record on field: Name, Email, Course, and Contact.
        </p>
     </div>

    <div class="col-md-4">
        <h2>Overview</h2>
        <p>ASP.NET MVC Web Application for Crud operation on student's record</p>
     </div>

    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>We can easily create, edit, read , and delete student's record using this application.</p>
    </div>
</div>